@import "tailwindcss";

:root {
  --color-primary-text: #111827;
  --color-secondary-text: #6B7280;
  --color-background: #F9FAFB;
  --color-surface: #F5F5F5;
  --color-accent: #A78BFA;
  --color-accent-hover: #8B5CF6;
  --color-border: #E5E7EB;
}

body {
  background-color: var(--color-background);
}

[data-theme="dark"] {
  --color-primary-text: #F9FAFB;
  --color-secondary-text: #9CA3AF;
  --color-background: #1F2937;
  --color-surface: #111827;
  --color-accent: #A78BFA;
  --color-accent-hover: #8B5CF6;
  --color-border: #374151;
}

/* Backgrounds */
.bg-background {
  background-color: var(--color-background);
}

.bg-surface {
  background-color: var(--color-surface);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-accent-hover {
  background-color: var(--color-accent-hover);
}

/* .bg-accent-hover:hover {
  background-color: var(--color-accent-hover);
} */

/* Text Colors */
.text-primary {
  color: var(--color-primary-text) !important;
}

.text-secondary {
  color: var(--color-secondary-text);
}

.text-accent {
  color: var(--color-accent);
}

/* Borders */
.border-default {
  border-color: var(--color-border);
}

/* Utility */
.hover-accent:hover {
  color: var(--color-accent-hover);
}